<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{% block title %}Chat Wayook{% endblock %}</title>
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen">

    </head>
    <body>
         {% block content %}{% endblock %}
    </body>

</html>