{% extends "_base.html" %}
{% load  it_filters %}
{% block content %}



<div class="cointaner text-left" >

 <a class="btn btn-success home-btn" href="{% url 'home' %}">Home</a>
 <hr />
    <h1 class="text-center">Conversation between {{ main_user }} and {{ other_user }} </h1>

    <ul class="list-group">
        {% for message in messages %}
            <li class="list-group-item">    {{ message.user }}[{{ message.date }}] says: {{ message.message }}</li>

        {% endfor %}
    </ul>
    <div >
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Send message" />
        </form>
    </div>

</div>
{% endblock %}
<script>


</script>