{% extends "_base.html" %}

{% block content %}

    <h2>Users</h2>
    <ul>
        {% for user in object_list %}
            <li> <a href="{% url 'user_home'  user.id %}" </a> {{ user.username }}</li>
        {% endfor %}
    </ul>



{% endblock %}