{% extends "_base.html" %}
{% load  it_filters %}

{% block content %}

    <div class="container">
     <a class="btn btn-success home-btn" href="{% url 'home' %}">Home</a>
        <h1 class="text-center">Conversations</h1>


    <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Conversation with:</th>
                        <th>Number of messages:</th>
                    </tr>
                </thead>
                <tbody>
                     {% for object in context.conversations %}
                    <tr class="text-center">
                        <td><a href="{% url 'conversation'  context.user_id object.id %}" >{{ object.id|get_conversation_name:context.user_id }}</a></td>
                        <td>{{ object.number_messages}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>


<div class="container">
   <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Start conversation with:</th>

                    </tr>
                </thead>
                <tbody>
                     {% for object in context.inactive_users %}
                        <tr class="text-left">
                            <form action='' method='post'>{% csrf_token %}
                                <input type="hidden" name="other_user" value={{ object.id}}>
                                <td><input class="btn btn-primary" type="submit" value={{ object.username }}></td>
                            </form>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>




{% endblock %}